.container {
    width: 1700px;
    height: 800px;
    background-color: #e6e3df;
    margin: 70px 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container:hover {
    border: 2px solid rgb(241, 185, 130);;
    
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
input {
    width:900px;
    height: 60px;
    border-radius: 10px;
    margin-top: 60px;
    border: 1px solid rgb(241, 185, 130);
    outline-style: solid 1px;
    outline-color:rgb(241, 185, 130);
    font-family:Bungee Spice;
}

h1 {
    font-family: Bungee Spice;
    font-size: 60px;
}
.input {
    width: 120px;
    border-radius: 20%;
    color: rgb(219, 97, 10);
    border: 1px solid rgb(219, 97, 10);
    font-family:Bungee Spice;
    
}

 
   