.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.product {
    width: 80%;
    height: 100%;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
}

img {
    margin: 5px;
    width: 150px;
    height: 150px;
}
h2 {
    font-family: Bungee Spice;
    font-size: 20px;
    margin: 40px;
}
.price {
    font-family: Bungee Spice;
    font-size: 20px;
}

p {
    color: rgb(234, 169, 50);
    margin: 7px;
}
button {
    width: 120px;
    border-radius: 20%;
    color: rgb(219, 97, 10);
    border: 1px solid rgb(219, 97, 10);
    font-family:Bungee Spice;
    margin: 15px;
    background-color: bisque;
    
}